.team-box{
    min-height: 300px;
    width: 100%;
    padding: 10px;
    margin: auto;
    background: linear-gradient(to top, #e3ecf9, #e3ecf9);
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 3px #9e9d9d;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team-box:hover{
    background: linear-gradient(to top, #d1dff3, #fff);
    border: 1px solid #a3c5f4;
}


.social-link{
    margin-top: 20px;
    color: black;
    padding: 15px;
    background: #bed5f6;
    border-radius: 100%;
}

.social-link:hover{
  
    background: #a3c5f4;
   
}