.google-icon {
    width: 50px;
    margin: 0 5px;
}
.hidden-button {
    display: none !important;
}
.google-style {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.loading-message {
    margin-top: 16px;
    font-size: 18px;
    color: #333;
}


.signup-form {
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0px auto 50px auto;
}

.login-form {
    margin: 0px auto 10px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.label-form {
    display: block;
    margin-bottom: 5px;
}

.input-form {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-form {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-form:hover {
    background-color: #0056b3;
}

.link-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.link-text a {
    color: #007bff;
    text-decoration: none;
}

.link-text a:hover {
    text-decoration: underline;
}

.btn-right {
    text-align : right;
    margin: 0 15px 0 0;
}

.want-to-btn {
    flex-direction: column;
}
/*profile*/

.pro-card{
    min-height: 300px;
}