.routine-header{
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    font-weight: 900;
    font-size: 50px;
}

.routine-header-tr{
    font-weight: 700;
    text-align: center;
    background-color: #dddada;
}
.routine-table{
    margin: 20px auto;
    padding: 5px;
}
.routine-table tr td{
    padding: 5px;
    border: 1px solid black; 
    font-size: 16px;
}
@media screen and (max-width: 768px){
    .routine-table tr td{
        padding: 5px;
        border: 1px solid black; 
        font-size: 12px;
    }  
   
}


.vertical{
    writing-mode: vertical-rl;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    font-size: 1.5em !important;
    font-weight: 700;
    padding: 0;
    background-color: #dddada;
}

