
.underline{
   height: 10px;
   display: inline-block;
   border-bottom: 3px dotted black;
}

.top-down-border{
    border-top: 10px solid black;
    max-height: 400px;
    padding: 10px;
    margin: 20px 0;
    border-bottom: 10px solid black;
}
.text-box{
    border: 1px solid black;
    height: 150px;
    width: 100px;
    display: inline-block;
   padding:  35px 0;
   margin: 20px 25px;
}


table, td{
    border: 1px solid black;
    border-collapse: collapse;
   padding: 10px;
}


.remuneration-2-table{
    border-collapse: collapse;
}
.width-150{
    min-width: 150px;
}

.width-50{
    min-width: 50px;
}

