body{
  box-sizing: border-box;
}

.white-text{
    color: #fff;
    text-decoration: none;
}
.white-border{
    border: 1 px solid #fff;
    border-radius: 25px;
}
.hover-text:hover{
    color: #909da4;
    }
.navbar-brand{
    color: #fff;
}
/* mini nav end */

.circle{
    background-color: #0d6efd;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    padding: auto;
    margin: 10px auto;
}
.contact-section{
  padding: 20px 20px 20px 20px;
    background-color: rgb(248, 249, 250);
}


.contact-sec-map{
  border-left: 1px solid #676767;
  padding: 10px;
  width: 100%;
  margin: 10px;
}


/*Service*/

.service-sec{
    background: linear-gradient(to right, #3684f8, #0d6efd, #3494e6);
    padding: 20px;
    margin: 0px 0 0 0;
    text-align: center;
} 

.service-sec-row{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-template-rows: repeat(auto-fit, 300px);
grid-gap: 1em 1em;
justify-content: space-evenly;
align-items: space-evenly;
}

.service-sec-box{
  /* grid-area: row-start col-start row-end col-end; */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid transparent;
    box-shadow: 2px 2px 4px #a5c5f6;
    
} 
.service-sec-box:hover{
  border-radius: 10px;
transition: ease-in-out 0.2s;
border: 3px solid white;
color: white;
background: linear-gradient(to right, #0d6efd,  #468ef2);
cursor: pointer;
}

.service-sec-box:hover .ser-icon svg{

  color: white;
}

.service-box-btn{
  margin-top: 10px;

}

@media only screen and (max-width: 768px){
 
.service-sec-box{
  font-size: 16px;
}
.service-sec-box h4{
  font-size: 17px;
}
.ser-icon svg{
  width: 50px;
}
.team-box-12, .team-box-13{
  margin-top: 10px
}
}
@media only screen and (max-width: 500px){
  .service-sec-box{
   margin: 5px;
   padding: 5px;
    font-size: 16px;
  }
  .team-box-12, .team-box-13{
    margin-top: 10px
  }
 
  .service-sec-box h4{
    font-size: 17px;
  }
  .ser-icon svg{
    width: 50px;
  }
  }


.ser-icon{
    margin-bottom: 20px;
    color: rgb(0, 0, 9);
    text-align: center;
}



/* nav */
/* Navbar.css */
.second-nav {
    background: #fff;/* Gradient background */
   border-radius: 5px;
    padding: 10px 0;
    transition: background 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 1px 1px 4px  #676767;
    clear: both;
  }


  .second-nav-item, .second-nav-dropdown{
    transition: all 0.5s;
    /* font-size: 18px; */
    /* font-weight: 500; */
    margin:  0 10px;
    
    
  }
  
  .second-nav-item:hover{
    /* text-decoration: underline; */
   /* font-weight: 700; */
    border-radius: 10px;
  
 
  }

  .carousel-caption{
    transition: all 1s;
    background: rgba(0, 0, 11, 0.4);
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
  }
  
 

  /* footer */
  .footer-lists-part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer-list{
    list-style-type: none;
  }
  .footer-list h5{
    font-size: 1.5em;
  }
  .footer-list-li{
    color: #e3e0e0;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
  }

  .footer-list-li:hover{
color: #fff;
text-decoration: underline;

  }
.footer-copyright{
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}


.scroll-button {
  position: fixed;
  bottom: 0;
  right: 00;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  opacity: 0.5;
  z-index: 10000;
  animation: goTo 1.2s linear infinite alternate-reverse;
}
.scroll-button:hover{
  opacity: 1;
}
.scroll-button.visible  {
  display: block;
}




